/*Smooth scroll*/
html {
  scroll-behavior: smooth;
}

/* Global config */
* {
    font-family: "WDXL Lubrifont TC", sans-serif;
    box-sizing: border-box; 
    margin: 0;               /* Delet margin default*/
    padding: 0;              /* Delet padding default */
}

/*Style for the header*/
header {
    text-align: center;
    background-color: rgb(255, 164, 210); 
    color: #ffffff;
    padding: 1%;
    padding-top: 2%;
    box-shadow: #d6c7ff;
}

/* ============================================
   Navigation menu
   ============================================ */

/* Menu check for mobil and tablet default not visible*/
#menu-toggle {
  display: none;
}
/* Men icon collapse, default not visible*/
.menu-icon{
    display: none;
}

/* Navigator style confi, the nav is fixed on the top to be always see*/
nav {
    position: fixed;           
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgb(255, 164, 210);  
    padding: 0.5rem;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 1px #b094b8; 
    margin: 0;
    /* To be over all the content */
    z-index: 2

}

/* Style for the list of nav, the elements are on the center and wraps (change in mobile and table menu)*/
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 2.5rem;
}

/* Style for the a (link) in nav, white color of the letters*/
nav a {
    color: #fff;
    /* Delet the default style for a items*/
    text-decoration: none;
    font-weight: bold;
    /* Smooth change color*/
    transition: color 0.3s;
}
/* Change of color when hover*/
nav a:hover {
    color: rgb(255, 211, 233);  
}

/* ============================================
   Main default
   ============================================ */

main{
    padding: 1rem;
}

/* ============================================
   Presentation section
   ============================================ */

#presentation{
    display: flex;
    /*Items in the center of horizontal of their sectin*/
    align-items: center;
    background-color: rgb(250, 228, 255);
    margin: 1rem;
}
.picture-pro{
    /*Responsibe image*/
    max-width: 33%;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
}

.text-info{
    background-color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;

}

/* ============================================
   Projects seccion
   ============================================ */

#projects{
    /* Line spacing size*/
    line-height: 2;
    background-color: rgb(255, 228, 253);
    margin: 1rem;
}
.text-proj{
    text-align: center;
}

#projects h3{
    text-decoration: underline;
    text-align: center;
}

#projects h2{
    text-align: center;
}

#projects ul{
    padding-left: 2rem;
}

#projects ul, a{
    /*Color for the elements of the list in projects section*/
    color: rgb(197, 77, 137);  
}

/*----------*/
/* Galery*/
/*----------*/

.galery {
    /* GRID */
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* 3 equals columns */
    gap: 20px; 
    padding: 0 2rem; /* internal horizontal space */
}

/* Pictures format*/
.galery img{
    /*Responsibe*/
    width: 100%;
    height: 20em;
    /* Size the image to cover the entire frame*/
    object-fit: cover;
    object-position: center center; /* Center picture */
    border: 0.5rem solid #ffffff;
    /* Round edges*/
    border-radius: 8px;
    box-shadow: 2px 2px 1px #b094b8; 
    /* Smooth transition */
    transition: transform 0.6s, box-shadow 0.6s;
}

.galery img:hover{
    transform: scale(1.05); /* Scale a little bit the size */
    box-shadow: 4px 4px 1px #b094b8; /* Shadow more deeper */
}

/* ============================================
   Contact seccion
   ============================================ */
#contact{
    line-height: 2;
    background-color: rgb(255, 228, 243);
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin: 1rem;

}

#contact ul{
    /*Just to change th dots*/
    list-style-type: circle;
}


/* ============================================
   Footer
   ============================================ */

footer{
    text-align: center;
    background-color: rgb(255, 164, 210);  
    color: #fff;
    padding: 1rem;

}

/* Responsibe tablet  */
@media (max-width: 786px) {
    /* ============================================
   Navigation menu collapsed mobil and tablet
   ============================================ */
   /* The icon is fixed on the top  right to be always see*/ 
   .menu-icon {
        display: flex; 
        position: fixed; 
        top: 1rem; 
        right: 1rem; 
        z-index: 4; 
        background-color: rgb(255, 164, 210);  
        color: #fffaf3;
        padding: 0.5rem; 
        border-radius: 6px; 
        box-shadow: 2px 2px 1px #b094b8;
    }

    .responsive-nav {
        position: fixed; 
        top: 60px; 
        left: 0; 
        width: 100%;
        background-color:rgb(255, 164, 210)7; 
        display: none; /* Hide in default, only show if menu icon is touch */
        flex-direction: column; /* The elements are now show in columns */
        align-items: center;
        padding: 0.5rem 0; 
        z-index: 3; /* Under the button (collapse menu) over the content*/
    }

    /* To ensure the list items be in columns */
    nav ul {
        flex-direction: column;
    }

    /* When the menu icon is touch the responsive nav change for none th flex to be display*/
    #menu-toggle:checked ~ .responsive-nav {
        display: flex; 
    }

    /* Change to tables devices, for 3 columns to 2*/
    .galery {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Responsibe mobil */
@media (max-width: 480px) {

    /* ============================================
   Presentation section
   ============================================ */

   /* On mobil divices the default flex-direction of row is change the colums*/
   #presentation{
    flex-direction: column;

    }

    /* The picture now take a 80% of the screen*/
    .picture-pro{
        max-width: 80%;
    }


    /* ============================================
    Galeri section
   ============================================ */

    /* Change to tables devices, for 3 columns to 1*/
    .galery {
        grid-template-columns: 1fr;
    }

}


